Config { font = "xft:IBM Plex Mono:weight=bold:pixelsize=13:hinting=true"
       , additionalFonts = [ "xft:FontAwesome:pixelsize=14" ]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#282c34"
       , fgColor = "#dcdfe4"
       , alpha = 255
       , position = Static { xpos = 0, ypos = 0, width = 2560, height = 30 }
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , allDesktops = True
       , iconRoot = "."
       , overrideRedirect = True
       , commands = [ Run UnsafeStdinReader ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "   %UnsafeStdinReader% "
       }
