Config { font = "xft:IBM Plex Mono:weight=bold:pixelsize=13:hinting=true"
       , additionalFonts = [ "xft:FontAwesome:pixelsize=14" ]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#282c34"
       , fgColor = "#dcdfe4"
       , alpha = 255
       , position = Static { xpos = 0, ypos = 0, width = 2560, height = 30 }
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , allDesktops = True
       , iconRoot = "."
       , overrideRedirect = True
       , commands = [ Run Network "enp0s31f6" ["-t","<fn=1>\xf01a</fn> <rx>kBps <fn=1>\xf01b</fn> <tx>kBps" ] 10
		    , Run Cpu ["-t", "<fn=1>\xf2db</fn> <total>%","-H","50","--high","#fe5e41"] 10
		    , Run Memory ["-t","<fn=1>\xf233</fn> <used>M (<usedratio>%)"] 10
		    , Run DiskU [("/", "<fn=1>\xf0c7</fn> <free> free")] [] 60
		    , Run CommandReader "/home/wizard/dotfiles/update-count.sh" "upd"
                    , Run Date "<fn=1>\xf133</fn> %Y-%m-%d %H:%M:%S" "date" 10
		    , Run Kbd [("us", "US"),("no","NO")]
		    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "   %UnsafeStdinReader%\
		    \ } <fn=1></fn> %kbd% | <fc=#88dd88>%date%</fc>  \
		    \ { <fn=1></fn> %upd% | %cpu% | %memory% | %disku% | %enp0s31f6%   "
       }
